/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');



body {
  background-color: #222 !important;
  color: #fff !important;
}

.modal-content {
  background-color: #222 !important;
}
.collapsible-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px; /* Ajusta el ancho máximo según tus necesidades */
  cursor: pointer;
}

.expanded-content {
  white-space: normal;
  overflow: visible;
}
#drop-area {
  border: 2px dashed #aaa;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  border-radius: 8px;
  min-height: 2in;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

.drop-text {
  font-size: 18px;
  color: #888;
}

#dropped-content {
  width: calc(100% - 23px);
  height: 200px;
  min-height: 69px;
  max-height: 312px;
  margin-top: 20px;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #555;
  resize: vertical;
  background-color: #444;
  color: #fff;
  outline: none;
  border-radius: 8px;
}

  #dropped-content::-webkit-scrollbar {
    width: 8px;
  }

  #dropped-content::-webkit-scrollbar-track {
    background-color: #444;
  }

  #dropped-content::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }

    #dropped-content::-webkit-scrollbar-thumb:hover {
      background-color: #aaa;
    }

.drop-icon i {
  color: #888;
  font-size: 4.5rem;
}

#chars {
  color: #888;
  float: right;
}

#spellcheck {
  display: flex;
  align-items: center;
  gap: 5px;
}

#outer-dot {
  background-color: #007bff;
  width: 3rem;
  height: 1.5rem;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background 200ms;
}

#dot {
  background-color: #eee;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 0 5px;
  transform: translateX(22px);
  transition: transform 200ms;
}

.file-input-box {
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
  border-radius: 10px !important;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2) !important;
  /* width: 600px; */
  height: auto !important;
  padding: 20px !important;
}

.wrapper-file-section .selected-files h5 {
  margin-bottom: 10px;
  justify-content: center;
}

.file-list {
  overflow-y: auto;
  list-style-type: none;
  padding: 0 10px 10px 0;
  margin: 0;
  transition: 0.3s all ease-in-out;
}

.file-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #cacaca;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 5px;
}

  .file-item .file-name,
  .file-item .file-size {
    margin-bottom: 5px;
  }

.file-content {
  margin-bottom: 5px;
  width: 100%;
  resize: none;
  border: 1px solid #cacaca;
  border-radius: 5px;
  padding: 10px;
}

.delete-button {
  background-color: #c0392b;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

  .delete-button:hover {
    background-color: #e74c3c;
  }

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #cacaca;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
}

  .item:not(:last-child) {
    margin-bottom: 5px;
  }

#app h2 {
  color: white;
}
