
<div class="navbar">
  <div class="container">
    <div class="logo">
      <img src="https://www.udb.edu.sv/editorial/images/Logo%20UDB%20letras%20blancas%20transparente.png" alt="Logo">
      <a href="#" style="color: white; text-decoration: none;">DTE Upload System</a>
    </div>
    <div class="menu">
      <a routerLink="./dte" routerLinkActive="active">Add DTEs</a>
      <a routerLink="./grafico" routerLinkActive="active">Graficos</a>
    </div>
    <!--<div class="menu-toggle" (click)="toggleMenu()">
      <div #optionsList class="file-list">
        <ul>
          <li> <a routerLink="/dte" routerLinkActive="active">Add DTEs</a></li>
          <li><a routerLink="/crud-tipo-contrataciones" routerLinkActive="active">Graficos</a></li>
        </ul>
      </div>
      <div></div>
      <div></div>

    </div>-->
  </div>
  
</div>
<router-outlet>
</router-outlet>
